/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --page: #FFF;
  --header-bg: var(--page);
  --bg-color: var(--page);
  --bg-color-start: #e7e7e7;
  --bg-color-end: #1a1a1a;
  --main-weight: 400;
  --font-weight: 700;
  --accent-color: #000;
  --button-color:  #fff;
  --border-color: #000000;
  --mix-blend-color: #000000;
  --label-stroke-color: #FFF;
  --stroke-color: var(--accent-color);
  --title-font-weight: "wght" 700;
  --text-font-weight: "wght" 400;
  --background: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}

:root.theme-dark {
  --page: #000;
  --header-bg: var(--page);
  --bg-color: var(--page);
  --bg-color-start: #007f0c;
  --bg-color-end: #004306;
  --main-weight: 400;
  --font-weight: 700;
  --accent-color: #00cc14; 
  --button-color: #00CC14;
  --border-color: #00CC14;
  --mix-blend-color: #00CC14;
  --label-stroke-color: #000;
  --stroke-color: var(--accent-color);
  --title-font-weight: "wght" 785;
  --text-font-weight: "wght" 465;
  --background: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  linear-gradient(180deg, #007f0c 0%, #004306 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
  --page: #000;
  --header-bg: var(--page);
  --bg-color: var(--page);
  --bg-color-start: #007f0c;
  --bg-color-end: #004306;
  --main-weight: 400;
  --font-weight: 700;
  --accent-color: #00cc14; 
  --button-color: #00CC14;
  --border-color: #00CC14;
  --mix-blend-color: #00CC14;
  --label-stroke-color: #000;
  --stroke-color: var(--accent-color);
  --title-font-weight: "wght" 785;
  --text-font-weight: "wght" 465;
  --background: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  linear-gradient(180deg, #007f0c 0%, #004306 100%);
}
}
