/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-accent: "PressStart2P", fantasy;
    --font-main: "Inter-Variable", sans-serif;
    --button-color: #fff;
    --contour: #000;
    --heart-color: #ff0000;
    --core: rgba(256, 0, 0, 0);
  }

  
